*{
	font-family:'Ubuntu',sans-serif;
}
.navbar .navbar-brand{
	font-size:2em;
}
#content-title{
	font-size:2em;
}
#specific-content{
	background-color:#bfd8d2;
}
#main-content{
	margin-bottom:20px;
}
@media (max-width:767px){
	#main-content{
		padding:0 60px;
	}
}